<%- include('../components/nav_bar.ejs') %> 
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/followUps.css">
<link rel="stylesheet" href="https://cdn.mobiscroll.com/5.26.2/javascript/mobiscroll.min.css">
<main class="hero column">
  <input type="hidden" id="_csrf" value="<%= csrfToken %>">

  <section class="hero-body">
    <div class="container is-widescreen">
      <div class="columns has-text-centered overhead is-vcentered offset">
        <p class="option <%= selectedOption === 'collab' ? 'selected' : ''%>">Collaborators</p>
        <p class="option <%= selectedOption === 'meetings' ? 'selected' : ''%>">Meetings</p>
        <p class="option <%= selectedOption === 'register' ? 'selected' : '' %>">Register</p>
        <div class="column is-narrow is-offset-7 is-offset-desktop-8 is-offset-tablet-6 is-offset-mobile-1">
          <div class="column is-narrow is-offset-8 is-offset-desktop-9 is-offset-tablet-7 is-offset-mobile-1">
            <i class="bi bi-plus-lg mr-4 subtitle is-clickable"></i>
          </div>
        </div>
      </div>   
    </div> 
    <hr/>
    <div id="content-section"></div>
    <%- include ('../components/follow_up/register_follow_up_logic.ejs') %>
</main>

<%- include('includes/_footer.ejs') %>


