<link rel="stylesheet" href="/css/home.css" />

<%- include('../components/nav_bar.ejs') %>
<input type="hidden" id="_csrf" value=<%= csrfToken %></input>

<div class="column-container">

  <div class="column">
    <%- include('../components/calendar/calendar.ejs') %>
  </div>

  <div class="column">
    <% if (error) {%>
      <%- include('../components/user_not_in_system.ejs') %>
    <% } %>
    
    <%- include ('../components/vacations_left.ejs')%>
    
    <%- include ('../components/current_absences.ejs', {
      total_days: total_absences
    }) %>
  </div> 
</div>

<!-- Footer fuera del contenedor -->
<%- include('includes/_footer.ejs') %>



