<link rel="stylesheet" href="/css/home.css" />
<script src="https://unpkg.com/pdf-lib"></script>

<%- include('../components/nav_bar.ejs') %>
<input type="hidden" id="_csrf" value=<%= csrfToken %></input>

<div class="column-container">

  <div class="column">
    <script>
      let eventos = <%- eventos %>; 
    </script>
    <%- include('../components/calendar/calendar.ejs') %>   
  </div>

  <div class="column">
    <% if (error) {%>
      <%- include('../components/user_not_in_system.ejs') %>
    <% } %>
    
    <%- include ('../components/vacations_left.ejs')%>
    
    <%- include ('../components/current_absences.ejs', {
      total_days: total_absences
    }) %>

    <!-- <iframe id="pdf" style="width: 100%; height: 100%;"></iframe> -->
  </div> 
</div>

<!-- Footer fuera del contenedor -->
<%- include('includes/_footer.ejs') %>

</body>
  
<!-- <script>
  createPdf();
  async function createPdf() {
    const pdfDoc = await PDFLib.PDFDocument.create();
    const page = pdfDoc.addPage([350, 400]);
    page.moveTo(110, 200);
    page.drawText('Hello World! \n LOL');
    const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
    document.getElementById('pdf').src = pdfDataUri;
  }
</script> -->
