<link rel="stylesheet" href="/css/home.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('../components/nav_bar.ejs') %>
<input type="hidden" id="_csrf" value="<%= csrfToken %>">
<div class="columns">
  <div class="is-three-quarters">
    
    <aside class="pop-up-d" style="display: none;" id="pop-up">
      <div class="pop-up-content-d">              
        <button onclick="closePopup()" class="button-close">
          <i class="bi bi-x"></i>
        </button>
        <div class="column-container">
          <div class="column2">
            <div id="color-calendar" class="calendar-color-box"></div>
            <h2 id="event-title" class="title-event"></h2>
          </div>                  
        </div>
        <p class="text-event"><strong>Date: </strong><span id="event-date"></span></p>
        <p class="text-event"><strong>Start Hour: </strong><span id="event-hour-start"></span></p>
        <p class="text-event"><strong>End Hour: </strong><span id="event-hour-end"></span></p>
        <p class="text-event"><strong>Details: </strong> <span id="event-details"></span></p>
      </div>
    </aside>
    <script>
      let eventos = <%- eventos %>; 
    </script>
    <% if (eventos) { %>
      <div style="display: flex;">
        <button class="button is-link is-rounded" style="margin-left: auto;" onclick="openAddEventPopup()">+Add event</button>
        <%- include('includes/_addEvent_form.ejs') %>
        </div>
      <%- include('../components/calendar/calendar.ejs') %> 
      <%- include ('../components/home/add_event_logic.ejs') %>

    <% } else { %>
      <div class="is-three-quarters center-log">
        <br>
        <label class="is-size-6 styling" for="collaborators">Google login access is required</label>
        <br>
        <br>
        <a class="button is-white" style="display: inline-flex; align-items: center; width: auto; max-width: 220px; margin-left: 1rem;" 
          href="/log_in/auth/google">
          <span class="icon mr-2" style="margin-right: 8px;">
            <img src="/icons/google.webp" class="image is-24x24" />
          </span>
          <span>Log in with Google</span>
        </a>
      </div>
    <% } %>
    </div>

    <div class="columns is-multiline" style="justify-content: center; align-items: center;">
      <div class="column is-half column-counter">
        <%- include('../components/vacations_left.ejs') %>
        <% if (permissions?.includes('consult_rotation') && permissions?.includes('consult_metrics')) { %>
          <%- include('../components/current_absences.ejs', { total_days: total_absences }) %>
        <% } %>
      </div>
    
      <div class="column is-half column-counters align-counter">
        <%- include('../components/current_absences.ejs', { total_days: total_absences }) %>
        <% if (permissions?.includes('consult_rotation') && permissions?.includes('consult_metrics')) { %>
          <%- include('../components/current_absences.ejs', { total_days: total_absences }) %>
        <% } %>
      </div>

      
      <%- include ('../components/home/home_requests_logic.ejs') %>
      <div class="column is-full container-t">
        <table id="requests_table" class="table is-striped" style="background-color: #242424; justify-content: center; align-items: center;">
          
        </table>
        <div class="is-flex is-justify-content-space-between my_buttons">
          <i class="bi bi-caret-left-fill is-clickable" id="prev-page"></i>
          <input type="number" value="1" class="pagination" id="pagination" style="display: none;"/>
          <i class="bi bi-caret-right-fill is-clickable" id="next-page"></i>
        </div>
      </div>
    </div>
    

  </div>
  <%- include('includes/_footer.ejs') %>

