<% if (googleLogin == 0) { %>
  <div class="center">
    <br>
    <label class="is-size-6 styling center" for="collaborators">Google login access is required</label>
    <br>
    <br>
    <div class="control has-icons">
      <a class="button is-white" href="/log_in/auth/google"
        >Log in with Google</a
      >
      <span class="icon is-small is-left">
        <img src="/icons/google.webp" class="image is-24x24" />
      </span>
    </div>
  </div>
  <% } else { %> 
  <div class="left-form-container">
      <form action="/follow_ups/meeting" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        

        <div class="column-container">
          <section class='column'>

        

            <div name="nombre">
              <label class="is-size-6 styling" for="collaborators">Employee</label>
              <select id="collaborators" class="line-input text-style" name="id_colaborador">
                <option value="default" disabled selected>Select Collaborator</option>
                <% if (colaboradores.length > 0) { %>
    
                  <% for (let i = 0; i < colaboradores.length; i++) { %>
                    <option value="<%= colaboradores[i].id_colaborador %>">
                      <%= colaboradores[i].nombre + " " + colaboradores[i].apellidos %>
                    </option>
                  <% } %>
                <% } else { %>
                  <option disabled> No hay colaboradores disponibles </option>
                <% } %>
    
              </select>
              <p id="errorMessage" class="text-hidden"> Select a collaborator </p>
            </div> 
    
            <br>
    
            <div>
                <label class="is-size-6 styling">Date</label>
                <input class="dateLine" type="date" id="filter_end" name="fechaAgendada" value="<%= new Date().toISOString().split('T')[0] %>"/>
                <p id="dateError" class="text-hidden"> Select a valid date </p>
            </div> 
    
            <br> 
            <br>
    
            <div>
              <label class="is-size-6 styling">Hour</label>
              <input class="dateLine" type="time" id="filter_end" name="horaAgendada" min="09:00" 
              max="18:00" value="<%= new Date().toTimeString().split(' ')[0].substring(0, 5) %>"/>
              <p id="dateError" class="text-hidden"> Select a valid time </p>
            </div>

            <br>
            <br>
            <div>
              <label class="is-size-6 styling">Repeating</label>
              <select id="repeating" name="repeating" class="line-input text-style">
                <option value="no">Does not repeat</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
              </select>
              <p id="dateError" class="text-hidden"> Select a valid option </p>
            </div>

            <br>
            <br>

            <div id="dayBlock" class="block" style="display: none">
              <label class="is-size-6 styling">After</label>
              <input type="number" id="dayOccurrences" name="dayOccurrences" min="1" 
              max="25" placeholder="occurrences" class="dateLine">
              <p id="dateError" class="text-hidden"> Select a valid number (1-25) </p>
            </div> 

            <div id="weekBlock" class="block" style="display: none">
              <label class="is-size-6 styling">After</label>
              <input type="number" id="weekOccurrences" name="weekOccurrences" min="1" 
              max="5" placeholder="occurrences" class="dateLine">
              <p id="dateError" class="text-hidden"> Select a valid number (1-5) </p>
            </div> 

            <div id="monthBlock" class="block" style="display: none">
              <label class="is-size-6 styling">After</label>
              <input type="number" id="monthOccurrences" name="monthOccurrences" min="1" 
              max="12" placeholder="occurrences" class="dateLine">
              <p id="dateError" class="text-hidden"> Select a valid number (1-12) </p>
            </div> 

            <div id="yearBlock" class="block" style="display: none">
              <label class="is-size-6 styling">After</label>
              <input type="number" id="yearOccurrences" name="yearOccurrences" min="1" 
              max="3" placeholder="occurrences" class="dateLine">
              <p id="dateError" class="text-hidden"> Select a valid number (1-3) </p>
            </div> 


            <div class="button-container">
                <button id="submitButton" class="approve-button" type="submit">Submit</button>
            </div>
          </section>
        </div>
      </form>
    </div>
  <% } %>
  <script>
    // function myFunc(id) {
    //   let blocks = ["dayBlock", "weekBlock", "monthBlock", "yearBlock"];
      
    //   blocks.forEach(block => {
    //     let element = document.getElementById(block);
    //     if (element) {
    //       element.style.display = "none";
    //     }
    //   });

    //   if (id !== "no") {
    //     let selectedBlock = document.getElementById(`${id}Block`);
    //     if (selectedBlock) {
    //       selectedBlock.style.display = "block";
    //     } else {
    //       console.error("No se encontró el bloque para:", id);
    //     }
    //   }
    // }
  </script>
  
  <style>
    .left-form-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding: 20px;
      margin-left: 0!important;
      margin-right: 0!important;
    }
    
    .column-container {
      width: 100%;
    }
    
    .button-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
    
    .text-hidden {
      display: none;
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }

    .center {
      text-align: center;
      align-items: center;
      border: 3px ;
    }
  </style>