<%- include('../components/nav_bar.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/personalInfo.css" />

<input type="hidden" id="_csrf" value=<%= csrfToken %>/>

<div class="columns ">
  <div class="column left-k is-4 has-text-centered">
    <div class="is-flex is-justify-content-center is-align-items-center" >
      <figure class="image" style="width: 90%; padding: 10%;">
        <img class="is-rounded" style=" height: auto;" src=<%= foto %>  />
      </figure>
    </div>
    
    <table class="table is-narrow is-fullwidth has-text-centered" >
      <tr>
        <td>
          <p class='has-text-danger-k is-size-1'><%= `${faults}` %></p>
          <p class='has-text-centered has-text-danger-k is-size-7'>Faults<br>commited</p>
        </td>
        <td>
          <p class=" has-text-white is-size-1"><%= `${diasDisponibles} / ${diasTotales}` %></p>
          <p class='has-text-centered is-size-7'>Days of<br>vacations Left</p>
        </td>
        <td>
          <p class=" has-text-white is-size-1"><%= `${total_absences}` %></p>
          <p class='has-text-centered is-size-7'>Current<br>abscences</p>
        </td>
      </tr>
    </table>
   
  </div>  
  <div class="column right-k">
    <label class="is-size-6 styling">Full Name:</label>
    <div class="custom-box"> <%= fullName %> </div>
    <label class="is-size-6 styling">Email:</label>
    <div class="custom-box"> <%= email %> </div>
    <label class="is-size-6 styling">Rol: </label>
    <div class="custom-box"> <%= rol %> </div>
    <label class="is-size-6 styling">Location:</label>
    <div class="custom-box"> <%= ubicacion %> </div>
    <label class="is-size-6 styling">Job Position:</label>
    <div class="custom-box"> <%= puesto %> </div>
    <label class="is-size-6 styling">Department:</label>
    <div class="custom-box"> <%= departamento %> </div>
    <br>
    <div class="is-flex is-justify-content-center">
      <a class="button is-danger " onclick="logout()"> 
        <span>Log out</span>
      </a>
    </div>
    
  </div>
</div>

<script>
  function logout() {
    fetch('/log_in/logout', {
      method: "GET"
    })
    .then(response => {
      window.location.href = '/log_in'
    })
  }
</script>
