<%- include('../components/nav_bar.ejs') %> 
<link rel="stylesheet" href="/css/reports.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
<div class = "hero-body">
    <div class="container-reports">
        <input type="hidden" id="_csrf" value=<%= csrfToken %>>
            <form>
                <div class="multiselect">
                    <div class="selectBox" onclick="showComapnyCheckboxes('checkboxes')">
                        <select class="line-input">
                        <option>Company</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes" class="checkboxes limit">
                        <% for (let i = 0; i < empresa.length; i++) { %>
                            <label for="<%= i %>-company" class="checkbox-row">
                                <input type="checkbox"  id="<%= i %>-company" value="<%= empresa[i].nombre_empresa %>"/>
                                    <%= empresa[i].nombre_empresa%>
                            </label>
                        <% } %>
                    </div>
                </div>
            </form>
            
            <form>
                <div class="multiselect">
                    <div class="selectBox" onclick="showDepartmentCheckboxes('department')">
                        <select class="line-input">
                            <option>Department</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="department" class="checkboxes limit">
                        <% for (let empresa of Object.keys(depa)) {%>
                            <% for (let departamento of depa[empresa]) {%>
                                <label for="<%= `${empresa}-${departamento}` %>-department" class="checkbox-row">
                                    <input type="checkbox"  id="<%=  `${empresa}-${departamento}` %>-department" value="<%= departamento %>"/>
                                        <%= departamento %>
                                </label>
                                <%# console.log(departamento) %>
                            <% } %>
                            
                        <% } %>
                    </div>
                </div>
            </form>

            <form>
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes('collaborator')">
                        <select class="line-input">
                            <option>Collaborator</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="collaborator" class="checkboxes limit">
                        <% for (let i = 0; i < collabs.length; i++) { %>
                            <label for="<%= i %>-collab">
                            <input type="checkbox" class="checkbox-row" id="<%= i %>-collab"  value="<%= collabs[i].id_colaborador %>"/>
                                <%= collabs[i].nombre + " " + collabs[i].apellidos%></option>
                            </label>
                        <% } %>
                    </div>
                </div>
            </form>
          
            <div class="column is-one-fifth multiselect limit">
                <select class="line-input" name="department" id="periodic_select">
                    <option value="" disabled selected>Period</option>
                    <option value="1">Monthly</option>
                    <option value="3">Trimester</option>
                    <option value="6" >Semester</option>
                    <option value="12" >Anually</option>
                </select>
            </div>
            <div class="column is-1">
                <i class="bi bi-download is-size-4 is-clickable"></i>
            </div> 
        <hr/>
        <button class="button is-success is-rounded" onclick="fetchData()">Update</button>
        <div class="radar-container">
            <canvas  class="canvas-viewF" id="chart"></canvas> 
        </div>
    </div>
    
</div>


<%- include('includes/_footer.ejs') %>
<%- include ('../components/reports/reports_logic.ejs') %>
