<%- include('../components/nav_bar.ejs') %> 
<link rel="stylesheet" href="/css/table.css">
<main class="hero column">
  <input type="hidden" id="_csrf" value=<%= csrfToken %>>
  <section class="hero-body">
    <div class="container is-widescreen">
      <div class="columns has-text-centered overhead is-vcentered offset">
        <p class="option <%= selectedOption === 'vacations' ? 'selected' : ''%>">Vacations</p>
        <p class="option <%= selectedOption === 'abscences' ? 'selected' : ''%>">Abscences</p>
        <%if (permissions?.includes('accept_requests') || permissions?.includes('accept_requests_team')) {%>
          <p class="option <%= selectedOption === 'requests' ? 'selected' : '' %>">Requests</p>
          <div class="column is-narrow is-offset-7 is-offset-desktop-8 is-offset-tablet-6 is-offset-mobile-1">
        <% } else {%>
          <div class="column is-narrow is-offset-8 is-offset-desktop-9 is-offset-tablet-7 is-offset-mobile-1">
        <% } %>
          <i class="bi bi-plus-lg mr-4 subtitle is-clickable"></i>
          <i class="bi bi-funnel subtitle is-clickable"></i>
        </div>
      </div>
    </div>
    <hr class=""/>
      <%- include ('../components/requests/accept_requests_table.ejs')%>
      <div class="is-flex is-justify-content-flex-end	my_buttons">
        <i class="bi bi-caret-left-fill is-clickable" id="prev-page"></i>
        <input type="number" value="1" class="pagination" id="pagination"/>
        <i class="bi bi-caret-right-fill is-clickable" id="next-page"></i>
      </div>
      <%- include ('../components/requests/accept_requests_logic.ejs') %>
    </section>

</main>

<%- include('includes/_footer.ejs') %>

