<%- include('../components/nav_bar.ejs') %> 
<link rel="stylesheet" href="/css/table.css">
<main class="hero column">
  <input type="hidden" id="_csrf" value=<%= csrfToken %>>
  <section class="hero-body">
    <div class="container is-widescreen">
      <div class="columns has-text-centered overhead is-vcentered offset">
        <p class="option <%= selectedOption === 'vacations' ? 'selected' : ''%>">Vacations</p>
        <p class="option <%= selectedOption === 'abscences' ? 'selected' : ''%>">Abscences</p>
        <%if (permissions?.includes('accept_requests') || permissions?.includes('accept_requests_team')) {%>
          <p class="option <%= selectedOption === 'requests' ? 'selected' : '' %>">Requests</p>
          <div class="column is-narrow is-offset-7 is-offset-desktop-8 is-offset-tablet-6 is-offset-mobile-1">
        <% } else {%>
          <div class="column is-narrow is-offset-8 is-offset-desktop-9 is-offset-tablet-7 is-offset-mobile-1">
        <% } %>
          <i class="bi bi-plus-lg mr-4 subtitle is-clickable"></i>
          <i class="bi bi-funnel subtitle is-clickable"></i>
        </div>
      </div>
    </div>
    <hr class=""/>
    <table class="table is-fullwidth">
      <thead>
        <tr class="columns">
          <th class="column is-one-quarter">Name</th>
          <th class="column is-2">Start-date</th>
          <th class="column is-2">End-date</th>
          <th class="column is-2">Request-type</th>
          <th class="column is-2">Status</th>
          <th class="column is-1">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (selectedOption === 'vacations') {%>

        <% } else if (selectedOption === 'abscences') {%>

        <%} else if (selectedOption === 'requests' && permissions?.includes('accept_requests') || permissions?.includes('accept_requests_team')) { %>

        <%}%>
      </tbody>
    </table>
  </section>
</main>

<%- include('includes/_footer.ejs') %>

<script>
  const get_info = (selected_option) => {
    fetch('/requests', {
      method: GET,
      headers: {
            'Content-Type': 'application/json',
            'csrf-token': csrf
        }

    })
  }
  
  const options = document.querySelectorAll(".option")
  for (let i=0; i<options.length; i++) {
    options[i].addEventListener('click', (b) => {
      options.forEach((element) => {
        element.classList.remove('selected')
      })
      options[i].classList.add('selected')

      get_info(options[i])
    })
  }
  
</script>
