<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<form id="addColabForm" action="/view_collabs" method="POST" onsubmit="return validateForm()"> 
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <aside id="pop-up" class="pop-up" style="display: none;">
            <div class="pop-up-content">
                <i class="bi bi-x-lg cancelButton" onclick="closePopup()"></i>
                <div class="fixed-grid">
                    <div class="grid">
                        <div class="cell">
                            <div><label class="subtitleForm" >Name</label></div>
                            <section class="input-container">
                                <input name="nombre" type="text" id="name" placeholder="Insert name" class="line-input" required maxlength="150">
                            </section>

                            <div><label class="subtitleForm">Company</label></div>
                            <section class="input-container">
                                <select name="nombre_empresa" id="empresa" class="line-input dropdown" required onchange="selectedCompany(this.value)">
                                    <option value="" disabled selected>Select Company</option>
                                    <% for (const [key, value] of empresa) { %>
                                        <option value="<%= key %>"><%= key %></option>
                                    <% } %>
                                </select>
                            </section>
                            
                            <div><label class="subtitleForm">Position</label></div>
                            <section class="input-container">
                                <select name="puesto" id="position" class="line-input dropdown" required disabled>
                                    <option value="" selected>Select Position</option>
                                </select>
                            </section>
                            
                            <div><label class="subtitleForm">Mail</label></div>
                            <section class="input-container">
                                <input name="email" type="text" id="mail-input" placeholder="Insert mail" class="line-input" onblur="validateForm()" required maxlength="100">
                                <p id="mail-error" class="error" style="display: none;">
                                    Invalid email domain
                                    <span title="@nuclea.solutions, @zigzag.house, @we.page, @mayaprotocol, @moca.app" style="cursor: help; margin-left: 5px;">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </p>
                            </section>
                            
                            <div><label class="subtitleForm">Location</label></div>
                            <section class="input-container">
                                <input name="ubicacion" type="text" id="location" placeholder="Insert collab location" class="line-input" required maxlength="150">
                            </section>
                            
                            <div><label class="subtitleForm">Modality</label></div>
                            <section class="input-container">
                                <select name="modalidad" id="modality" class="line-input dropdown" required>
                                    <option value="" disabled selected>Select Modality</option>
                                    <% if (modalidad && modalidad.length > 0) { %>
                                        <% for (let i = 0; i < modalidad.length; i++) { %>
                                            <% let modalidadLabel; %>
                                            <% if (modalidad[i].modalidad === 0) { %>
                                                <% modalidadLabel = "In-person"; %>
                                            <% } else if (modalidad[i].modalidad === 1) { %>
                                                <% modalidadLabel = "Hybrid"; %>
                                            <% } else if (modalidad[i].modalidad === 2) { %>
                                                <% modalidadLabel = "Remote"; %>
                                            <% } %>
                                            <option value="<%= modalidad[i].modalidad %>"><%= modalidadLabel %></option>
                                        <% } %>
                                            <% } else { %>
                                                <option disabled>No modality available</option>
                                            <% } %>
                                </select>
                            </section>

                            <div><label class="subtitleForm">Phone</label></div>
                                <section class="input-container">
                                    <input name="telefono" type="text" id="phone-input" placeholder="Insert phone" class="line-input" oninput="validateForm()" required maxlength="15">
                                    <p id="phone-error" class="error" style="display: none;">Phone must be between 10 to 15 digits</p>
                                </section>
                            </div>
                                                    
                            <div class="cell">
                                <div><label class="subtitleForm">Last Name</label></div>
                                <section class="input-container">
                                    <input name="apellidos" type="text" id="last-name" placeholder="Insert last name" class="line-input" required maxlength="150">
                                </section>
                                
                                <div><label class="subtitleForm">Department</label></div>
                                <section class="input-container">
                                    <select name="id_departamento" id="department" class="line-input dropdown" required disabled onchange="selectedDepartment(this)">
                                        <option value="" disabled selected>Select Department</option>
                                        <% for (const [key, value] of empresa) {%>
                                            <% for (let i = 0; i < value.length; i++) {%>
                                                <option value="<%= value[i].id %>" class="department_option" id="option-<%= key %>"><%= value[i].departamento %></option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </section>

                                <div><label class="subtitleForm">Role</label></div>
                                <section class="input-container">
                                    <select name="id_rol" id="role" class="line-input dropdown" required>
                                        <option value="" disabled selected>Select Role</option>
                                        <% if (rol && rol.length > 0) { %>
                                            <% for (let i = 0; i < rol.length; i++) { %>
                                                <% let rolLabel; %>
                                                <% if (rol[i].id_rol === 1) { %>
                                                    <% rolLabel = "Collaborator"; %>
                                                <% } else if (rol[i].id_rol === 2) { %>
                                                    <% rolLabel = "Lider"; %>
                                                <% } else if (rol[i].id_rol === 3) { %>
                                                    <% rolLabel = "Super Admin"; %>
                                                <% } %>
                                                <option value="<%= rol[i].id_rol %>"><%= rolLabel %></option>
                                            <% } %>
                                        <% } else { %>
                                            <option disabled>No roles available</option>
                                        <% } %>
                                    </select>
                                </section>

                                <div><label class="subtitleForm">Birthday</label></div>
                                <input name="fechaNacimiento" id="birthday" class="dateLine" type="date" required>

                                <div><label class="subtitleForm">Entry Date</label></div>
                                <input name="fechaIngreso" id="entry-date" class="dateLine" type="date" required>

                                <div><label class="subtitleForm">RFC</label></div>
                                <section class="input-container">
                                    <input name="rfc" type="text" id="rfc-input" placeholder="Insert RFC (Optional)" class="line-input" oninput="validateForm()"  maxlength="13">
                                    <p id="rfc-error" class="error" style="display: none;">RCF must be of 13 characters</p>
                                </section>

                                <div><label class="subtitleForm">CURP</label></div>
                                <section class="input-container">
                                    <input name="curp" type="text" id="curp-input" placeholder="Insert CURP (Optional)" class="line-input" oninput="validateForm()"  maxlength="18">
                                    <p id="curp-error" class="error" style="display: none;">CURP must be of 18 characters</p>
                                </section>

                            <div class="buttons">
                                <button type="submit" class="button is-save">Save</button>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </aside>
</form>

<script>
    document.getElementById("addColabForm").addEventListener("submit", function(event) {
        event.preventDefault();

        if (!validateForm()) {
            return; 
        }
    
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#59A250",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, save it!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Saved!",
                    text: "It has been saved",
                    icon: "success"
                }).then(() => {
                    document.getElementById("addColabForm").submit();
                });
            }
        });
    });
</script>